.btn {
     height: 36px;
     min-width: 80px;
     border-radius: 4px;
     color: white;
     background-color: #2ca01c;
     border: unset;
     cursor: pointer;
     font-weight: 500;
     text-align: center;
}

.btn:hover {
     background-color: #39AC66;
}

/* dialog */
.dialog-icon{
     background-color: #fff;
     border: none;
     cursor: pointer;
}

.btn-cancel, .btn-store {
     background-color: #fff;
     color: #000;
     border-radius: 4px;
     border: 1px solid #939393;
     min-width: 63px;
}

.btn-store {
     margin-right: 8px;
}

/* page__header */
.btn-add{
     padding: 8px 19px;
}

.btn-store__add {
     min-width: 114px;
}


.icon_search {
     background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -956px -31px;
     width: 22px;
     height: 22px;
     border: none;
     position: absolute;
     top: 18px;
     right: 40px;
     cursor: pointer;
}

.icon__reload {
     width: 33px;
     height: 33px;
     outline: none;
     border: none;
     background-color: #fff;
}

.icon__reload i {
     font-size: 24px;
     display: inline-block;
     color: #b8bcc3;
}

.icon__reload i:hover {
     color: #58595d;
     cursor: pointer;
} 