.dialog {
     position: fixed;
     background: #313131b5;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 2;
}

.dialog-wrapper {
     width: 902px;
     height: 615px;
     background-color: #fff;
     padding: 22px 24px;
}

.dialog-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-sizing: border-box;
     height: 40px;
}

.dialog-header__title {
     display: flex;
}

.dialog-header__title .title {
     font-weight: 700;
     font-size: 24px;
     color: #111;
}


.dialog-header__btn {
     box-sizing: border-box;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     cursor: pointer;
}

.dialog-header__checkbox {
     position: absolute;
     width: 18px;
     height: 18px;
     z-index: 200;
     cursor: pointer;
     border-radius: 4px;
     top: 6px;
     left: 21px;
}

.dialog-header__btn div {
     margin-left: 50px;
     z-index: 200;
     font-size: 13px;
}


.dialog-header__icon {
     position: relative;
}

.dialog-header__icon .icon{
     font-size: 24px;
}

.dialog-container{
     height: calc(100% - 60px - 22px);
     box-sizing: border-box;
}

.dialog-container__top {
     display: flex;
     height: 230px;
     align-items: center;
}

.dialog-container__top--left, .dialog-container__top--right{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.top__left-content {
     display: flex;
     width: 100%;
}

.item__id {
     width: 40%;
}

.item__name {
     width: 60%;
}

.item__gender {
     width: calc(100% - 45%);
}

.male, .female, .difference{
     width: 19px;
     height: 19px;
     display: inline-block;
     cursor: pointer;
}

input[type=checkbox] {
     accent-color: #2ca01c;
}

input[type=radio]{
     accent-color: #2ca01c;
}
.name__gender {
     cursor: pointer;
}

.item__bith {
     width: 45%;
}

.date__bgr {
     background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -126px -308px;
     border: none;
}

.item__unit-work {
     
}

.select__input {
     width: 94%;
     height: 36px;
     display: inline-block;
     padding: 0 16px;
     margin: 6px 0;
     cursor: pointer;
     border-radius: 4px;
     border: 1px solid #dedede;   
}

.select__input:focus {
     border-color: #2ca01c;
}

.item__identity-number {
     width: 60%;
}

.item__issue-date {
     width: 40%;
}

.details {
     display: block;
  	font-weight: 500;
     font-size: 13px;
}

.input-focus {
     border: 1px solid #2ca01c;
 }
 


.dialog-container__bottom {
     height: calc(100% - 230px);
     width: 100%;
}

.user__detail {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     width: 700px;
     margin: 12px 0 0 0;
     box-sizing: border-box;
}

.user__detail-top, .user__detail-bottom {
     display: flex;
     width: 100%;
     margin-bottom: 12px ;
}

.user__detail .input__box {
     width: 50%;
}

.user__detail .input__box input{
     width: 95%;
     margin-top: 6px;
}


.dialog-footer{
     height: 60px;
     display: flex;
     padding: 12px 0;
     justify-content: space-between;
     box-sizing: border-box;
     border-top: 1px solid #ccc;
}
 
.tool-tip:first-child:hover::after {
     content: 'Trợ giúp';
     position: absolute;
     top: 27px;
     right: 37px;
     min-width: max-content;
     display: flex;
     padding: 4px;
     background-color: #babec5;
     border-radius: 4px;
}

.tool-tip:last-child:hover::after {
     content: 'Đóng (ESC)';
     position: absolute;
     top: 27px;
     right: -36px;
     min-width: max-content;
     display: flex;
     padding: 4px;
     background-color: #babec5;
     border-radius: 4px;
}

.user__detail-top .input__box {
     position: relative;
}

.tool-tip-smartPhone:hover::after {
     content: 'Điện Thoại Di Động';
     position: absolute;
     top: -4px;
     left: 72px;
     border-radius: 4px;
     min-width: max-content;
     display: flex;
     padding: 4px;
     background-color: #babec5;
}

.tool-tip-dtcd:hover::after {
     content: 'Điện Thoại Cố Định';
     position: absolute;
     top: -4px;
     left: 72px;
     border-radius: 4px;
     min-width: max-content;
     display: flex;
     padding: 4px;
     background-color: #babec5;
}

.errorMsg {
     border: 1px solid red !important;
}

.successMsg:focus {
     border: 1px solid #2ca01c !important;
}