.pagination {
     width: 400px;
     position: relative;
     height: 30px;
     display: flex;
     box-sizing: border-box;
 }
 
 .pagination .page-item {
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }
 
 .pagination .page-item a {
     padding: 10px;
 }
 
 .pagination .active {
     border: 1px solid rgba(128, 128, 128, 0.164);
     color: #333;
     font-weight: bold;
 }
 
 .paginate-wrapper div select {
     margin-right: 0.5rem;
     height: 30px;
 }