   .table {
     height: calc(100vh - 260px);
     margin-bottom: 6px;
     padding: 0 16px;
     box-sizing: border-box;
   }
   
   .table__input-checkbox {
     display: inline-block;
     width: 18px;
     height: 18px;
     cursor: pointer;
   }
   
   table {
     border-collapse: separate;
     border-spacing: 0;
     width: 100%;
     overflow-y: scroll;
   }

   ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #c5c5c5; 
  }
  
 
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
   
   table tr th:nth-child(1){
    background-color: #e5e8ec !important;
   
   }

   table tr th:nth-child(18) {
    background-color: #e5e8ec !important;

   }
   
   table tr th:nth-child(1),
   td:nth-child(1) {
     position: sticky;
     left: 0;
     background-color: #fff;
   }
   
   table tr th:nth-child(18),
   td:nth-child(18) {
     position: sticky;
     right: 0;
     background-color: #fff;
     
   }
   
   table thead tr {
     background-color: #e5e8ec !important;
     position: sticky;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 1;
   }

   table thead th {
      text-transform: uppercase;
   }
   
   th, td {
     padding: 8px;
     border-right: 1px solid #c5c5c5;
     border-bottom: 1px solid #c5c5c5;

   }
  
   th:nth-child(18) {
    border-right: none;
    border-left: 1px solid #c5c5c5;
   }


   td:nth-child(18) {
    border-right: none;
    border-left: 1px dotted #c5c5c5;
   }

   table tbody td {
    border-right: 1px dotted  #c5c5c5 !important;
   }
   
   tbody tr:hover td{
     cursor: pointer;
     background-color: #e5f3ff;
   }
   
   tbody tr td:nth-child(2),
   tbody tr td:nth-child(3),
   tbody tr td:nth-child(4),  
   tbody tr td:nth-child(8),
   tbody tr td:nth-child(9),
   tbody tr td:nth-child(10),
   tbody tr td:nth-child(11),
   tbody tr td:nth-child(12),
   tbody tr td:nth-child(13),
   tbody tr td:nth-child(14)
   {
     text-align: left;
   }
   
   tbody tr td:nth-child(5),
   tbody tr td:nth-child(7){
     text-align: center;
   }
   
   tbody tr td:nth-child(6),
   tbody tr td:nth-child(11),
   tbody tr td:nth-child(16),
   tbody tr td:nth-child(17) {
     text-align: right;
   }
   
   tbody tr td:nth-child(18) {
     text-align: center;
     color: #0383cb;
     font-weight: 700;
   }
   
   
   .icon__edit {
     display: inline-block;
     margin-left: 10px;
     width: 27px;
     height: 20px;
     cursor: pointer;
   }
   
   .icon__edit:hover {
     border: 1px solid #004999;
   }
  
   .th__id {
     min-width: 143px;
   }
   .th__name {
     min-width: 155px;
   }
   .th__gender {
     min-width: 121px;
     width: 121px;
   }
   .th__dateBirth {
     min-width: 112px;
     width: 112px;
   }
   .th__identity-number {
     min-width: 124px;
     width: 124px;
   }
   .th__issure-date {
     min-width: 140px;
     width: 140px;
   }
   .th__issure-place {
     min-width: 95px;
     width: 95px;
   }
   .th__career-title {
     min-width: 130px;
     width: 130px;
   }
   .th__name-unit--work {
     min-width: 133px;
   }
   .th__account-number {
     min-width: 130px;
     width: 130px;
   }
   .th__address {
     min-width: 130px;
     width: 130px;
   }
   .th__email {
     min-width: 200px;
     width: 200px;
   }
   .th__name-bank {
     min-width: 130px;
     width: 130px;
   }
   .th__branch-bank {
     min-width: 230px;
     width: 230px;
   }
   .th__phone-number {
     min-width: 150px;
     width: 150px;
   }
   .th__landline-phone {
     min-width: 112px;
     width: 112px;
   }
   .th__function {
     width: 120px;
     min-width: 120px;
   }
   
   .ms-out-left-white-16 {
    min-width: 16px;
    max-width: 16px;
    width: 16px;
    background: #fff;
    position: -webkit-sticky;
    position: sticky; 
    left: 0;
    border: 0;
    z-index: 4;
    padding: 0;
   }