.header {
     width: 100%;
     height: 56px;
     padding: 16px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     box-sizing: border-box;
}

.header__left {
     display: flex;
     align-items: center;
}

.header__left-title {
     font-weight: 700;
     position: relative;
     cursor: pointer;
}

.tool-tip-title:hover::after {
     content: 'CÔNG TY TNHH SẢN XUẤT - THƯƠNG MẠI - DỊCH VỤ QUI PHÚC';
     position: absolute;
     top: 30px;
     right: -15px;
     min-width: max-content;
     border-radius: 4px;
     display: flex;
     padding: 4px;
     background-color: #babec5;
}

.header__left-multitasking {
     background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -847px -35px;
     width: 24px;
     height: 24px;
     margin: 0 10px;
     cursor: pointer;
     background-position-y: -30px;
}

.header__right {
     display: flex;
     align-items: center;
}

.header__right-bell {
     background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat  -788px -30px;
     width: 24px;
     height: 24px;
     cursor: pointer;
     margin: 0 10px;
     position: relative;
}

.header__right-author {
     display: flex;
     align-items: center;
     margin-right: 4px;
}

.author {
     margin-right: 10px;
     width: 36px;
     height: 36px;
     border-radius: 50%;
     background-color: #2ca01c;
     cursor: pointer;
}

.user__login {
     font-weight: 700;
     padding-top: 5px;
     padding-bottom: 5px;
     font-size: 14px;
}

.tool-tip-bell:hover::after {
     content: 'Thông Báo';
     position: absolute;
     top: 30px;
     right: -15px;
     min-width: max-content;
     border-radius: 4px;
     display: flex;
     padding: 4px;
     background-color: #babec5;
}