.sidebar {
     width: 200px;
     height: 100vh;
     background-color: #393a3d;
     color: #FFFFFF;
     box-sizing: border-box;
     display: flex;
     flex-wrap: wrap;
}

.sidebar::-webkit-scrollbar {
     display: none;
 }

.sidebar___top {
     width: 100%;
     height: 56px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     padding: 12px 24px;
}

.sidebar__top-content {
     width: 100%; 
     height: 100%; 
     display: flex; 
     align-items: center; 
}

.sidebar-toggle{
     background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -424px -86px;
     cursor: pointer; 
     width: 24px;
     height: 24px;
     margin-right: 10px;
    
}

.sidebar-logo{
     height: 56px;
     width: 80%;
     background-repeat: no-repeat;
     background-size: 100px auto;
     background-position-y: center;
     background-position-x: -2px;
     cursor: pointer;
     background-image: url(../../assets/img/Logo_Module_TiengViet_White.66947422.svg); 
}

.sidebar__bottom {
     width: 100%;
     height: calc(100vh - 56px);
     box-sizing: border-box;
     padding: 20px 12px;
     overflow-y: scroll;
}

   ::-webkit-scrollbar {
     width: 5px;
     height: 8px;
   }
   
   ::-webkit-scrollbar-track {
     background: #eceef1; 
   }
    
   
   ::-webkit-scrollbar-thumb {
     background: #eceef1; 
   }
   
  
   ::-webkit-scrollbar-thumb:hover {
     background: #555; 
   }

.sidebar-item{
     font-size: 12px;
     height: 44px;
     display: flex;
     align-items: center;
     border-radius: 4px;
}

.sidebar-item+.sidebar-item {
     margin-top: 4px;
}

.sidebar-item:hover {
     background-color: #58595d;
     cursor: pointer;
}

.sidebar-item--selected {
     background-color: #58595d;
}

.sidebar-item__icon{
     margin-top: 5px;
     margin-left: 12px;
     margin-right: 12px;
     width: 24px;
     height: 24px;
     background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat;
     cursor: pointer;
}

.sidebar-item__icon--overview {
     background-position: -33px -1630px;

}

.sidebar-item__icon--cast{
     background-position: -78px -1631px;

}

.sidebar-item__icon--bank{
     background-position: -121px -1633px;


}
.sidebar-item__icon--purchase{
     background-position: -165px -1632px;

}
.sidebar-item__icon--sale{
     background-position: -206px -1631px;


}
.sidebar-item__icon--invoice{
     background-position: -254px -1632px;

}
.sidebar-item__icon--stock{
     background-position: -294px -1632px;

}
.sidebar-item__icon--tools{
     background-position: -339px -1633px;

}
.sidebar-item__icon--fixed__assets{
     background-position: -382px -1632px;

}
.sidebar-item__icon--tax{
     background-position: -382px -1632px;

}
.sidebar-item__icon--price{
     background-position: -471px -1633px;

}
.sidebar-item__icon--general{
     background-position: -514px -1632px;

}
.sidebar-item__icon--budget{
     background-position: -382px -1664px;
}

.sidebar-item__icon--report {
     background-position:-552px -1636px;
}

.sidebar-item__icon--financialAnalysis {
     background-position:-207px -1667px;

}

.sidebar-item__icon--loans {
     background-position: -382px -1664px;
}

.sidebar-item__icon--knowledge {

     background-position: -382px -1664px;
}

